@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;900&display=swap');


body {
    background: #000;
    color: #fff;
    font-family: "Azeret Mono";
}

.console {
    background: #000;
    padding: 0.5rem;
}

.chain-status {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.chain {
  display: flex;
  justify-content: space-between;
}

.chain {
  padding: 1rem;
}

.console-line {
    list-style-type: none;
    text-align: left;
    padding: 0.1rem;
    font-size: 0.8rem;
}

.chain-name-div {
    display: flex;
    place-items: center;  
    font-weight: 500;
}

.chain-status-div {
  padding: 0.1rem;
  display: flex;
  place-items: center;
}

.connected {
  background-color: green;
}

.failed {
  background-color: red;
}

.winners-list {
    list-style-type: none;
    background-color: #000;
    padding: 1rem;
}

